.app {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  height: 100vh;         /* Full viewport height */
}

.quiz-container {
  max-width: 500px;
  width: 100%;
  justify-content: center;
  padding: 20px;
  align-items: center;
  background-color: #363636;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

span {
  display: block;
  margin: 10px 0;
}

.ui.floating.message.options {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 15px;
  text-align: center;
  color: black;
}

.ui.floating.message.options.selected {
  background-color: #dbe5e6;
  border: 5px solid #007bff;
  font-weight: bold;
}

.ui.floating.message.options:hover {
  background-color: #588bae;
  color: white;
  transform: scale(1.02);
}

button.ui.inverted.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.ui.inverted.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Result styles if used */
.result {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result h3 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.result h4 {
  font-size: 20px;
  color: #555;
}

.result ul {
  list-style-type: none;
  padding: 0;
}

.result li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.result li:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
}
